In [1]:
import pandas as pd   
import numpy as np 
import matplotlib.pyplot as plt  
import seaborn as sns

In [79]:
candidates_eda = pd.read_csv("candidates.csv")
del candidates_eda['Unnamed: 0']
candidates_eda.head(12)

,Name,Party,State,District Number,Incumbent Status,Winner Status,Percentage of Vote,Total Amount Raised,Total Amount Spent
0,Jerry Carl,(R),Alabama,District 01,N/a,Winner,64.9,1971321,1859349
1,James Averhart,(D),Alabama,District 01,N/a,N/a,35.0,80095,78973
2,Barry Moore,(R),Alabama,District 02,N/a,Winner,65.3,650807,669368
3,Phyllis Harvey-Hall,(D),Alabama,District 02,N/a,N/a,34.6,56050,55988
4,Mike D Rogers,(R),Alabama,District 03,Incumbent,Winner,67.5,1193111,1218564
5,Adia Winfrey,(D),Alabama,District 03,N/a,N/a,32.4,50273,40971
6,Robert B Aderholt,(R),Alabama,District 04,Incumbent,Winner,82.5,1255076,1323812
7,Mo Brooks,(R),Alabama,District 05,Incumbent,Winner,95.8,655365,210045
8,Gary Palmer,(R),Alabama,District 06,Incumbent,Winner,97.1,907219,909082
9,Terri Sewell,(D),Alabama,District 07,Incumbent,Winner,97.2,2168165,1495957
10,Don Young,(R),Alaska,District 01,Incumbent,Winner,54.4,1922901,1790448
11,Alyse Galvin,(I),Alaska,District 01,N/a,N/a,45.3,5178452,5088103

In [80]:
# Replace states with abbreviations
us_states = {
    "Alabama": "AL",
    "Alaska": "AK",
    "Arizona": "AZ",
    "Arkansas": "AR",
    "California": "CA",
    "Colorado": "CO",
    "Connecticut": "CT",
    "Delaware": "DE",
    "Florida": "FL",
    "Georgia": "GA",
    "Hawaii": "HI",
    "Idaho": "ID",
    "Illinois": "IL",
    "Indiana": "IN",
    "Iowa": "IA",
    "Kansas": "KS",
    "Kentucky": "KY",
    "Louisiana": "LA",
    "Maine": "ME",
    "Maryland": "MD",
    "Massachusetts": "MA",
    "Michigan": "MI",
    "Minnesota": "MN",
    "Mississippi": "MS",
    "Missouri": "MO",
    "Montana": "MT",
    "Nebraska": "NE",
    "Nevada": "NV",
    "New Hampshire": "NH",
    "New Jersey": "NJ",
    "New Mexico": "NM",
    "New York": "NY",
    "North Carolina": "NC",
    "North Dakota": "ND",
    "Ohio": "OH",
    "Oklahoma": "OK",
    "Oregon": "OR",
    "Pennsylvania": "PA",
    "Rhode Island": "RI",
    "South Carolina": "SC",
    "South Dakota": "SD",
    "Tennessee": "TN",
    "Texas": "TX",
    "Utah": "UT",
    "Vermont": "VT",
    "Virginia": "VA",
    "Washington": "WA",
    "West Virginia": "WV",
    "Wisconsin": "WI",
    "Wyoming": "WY"
}
candidates_eda['State'].replace(us_states, regex=True, inplace=True)
candidates_eda.tail(30)

,Name,Party,State,District Number,Incumbent Status,Winner Status,Percentage of Vote,Total Amount Raised,Total Amount Spent
862,Kim Schrier,(D),WA,District 08,Incumbent,Winner,51.7,5422491,3774398
863,Jesse Jensen,(R),WA,District 08,N/a,N/a,48.1,852396,842269
864,Adam Smith,(D),WA,District 09,Incumbent,Winner,74.2,1324761,930710
865,Doug Basler,(R),WA,District 09,N/a,N/a,25.7,22536,18328
866,Marilyn Strickland,(D),WA,District 10,N/a,Winner,49.6,1812659,1780633
867,Beth Doglio,(D),WA,District 10,N/a,N/a,35.7,1477678,1477678
868,David McKinley,(R),West VA,District 01,Incumbent,Winner,69.0,1092609,1085864
869,Natalie Ms. Cline,(D),West VA,District 01,N/a,N/a,31.0,81032,81881
870,Alex Mooney,(R),West VA,District 02,Incumbent,Winner,63.1,2155978,864001
871,Catherine Kunkel,(D),West VA,District 02,N/a,N/a,36.9,641567,641567
872,Carol Miller,(R),West VA,District 03,Incumbent,Winner,71.3,869210,720796
873,Hilary Turner,(D),West VA,District 03,N/a,N/a,28.7,99214,98769
874,Belinda Fox-Spencer,(I),West VA,District 03,N/a,N/a,0.0,5207,5207
875,Bryan Steil,(R),WI,District 01,Incumbent,Winner,59.4,3500849,3151701
876,Roger Polack,(D),WI,District 01,N/a,N/a,40.7,536228,526431
877,Mark Pocan,(D),WI,District 02,Incumbent,Winner,69.7,1290582,1014628
878,Peter Theron,(R),WI,District 02,N/a,N/a,30.3,35753,33977
879,Ron Kind,(D),WI,District 03,Incumbent,Winner,51.4,2989262,4435403
880,Derrick Van Orden,(R),WI,District 03,N/a,N/a,48.6,1962443,1948639
881,Gwen Moore,(D),WI,District 04,Incumbent,Winner,74.7,1183995,1166739
882,Scott Fitzgerald,(R),WI,District 05,N/a,Winner,60.2,1155721,968406
883,Tom Palzewicz,(D),WI,District 05,N/a,N/a,39.9,370392,371799
884,Glenn S Grothman,(R),WI,District 06,Incumbent,Winner,59.3,1815756,1736659
885,Jessica King,(D),WI,District 06,N/a,N/a,40.7,287753,245788
886,Tom Tiffany,(R),WI,District 07,Incumbent,Winner,60.8,2637459,2514740
887,Tricia Zunker,(D),WI,District 07,N/a,N/a,39.2,1261957,1232690
888,Mike Gallagher,(R),WI,District 08,Incumbent,Winner,64.0,3202905,2841801
889,Amanda Stuck,(D),WI,District 08,N/a,N/a,36.0,416978,399916
890,Liz Cheney,(R),WY,District 01,Incumbent,Winner,68.6,3003883,3060167
891,Lynnette Grey Bull,(D),WY,District 01,N/a,N/a,24.6,134597,132235

In [81]:
# Fix West Virginia
candidates_eda['State'] = candidates_eda['State'].str.replace('West VA', 'WV')
candidates_eda.tail(30)

,Name,Party,State,District Number,Incumbent Status,Winner Status,Percentage of Vote,Total Amount Raised,Total Amount Spent
862,Kim Schrier,(D),WA,District 08,Incumbent,Winner,51.7,5422491,3774398
863,Jesse Jensen,(R),WA,District 08,N/a,N/a,48.1,852396,842269
864,Adam Smith,(D),WA,District 09,Incumbent,Winner,74.2,1324761,930710
865,Doug Basler,(R),WA,District 09,N/a,N/a,25.7,22536,18328
866,Marilyn Strickland,(D),WA,District 10,N/a,Winner,49.6,1812659,1780633
867,Beth Doglio,(D),WA,District 10,N/a,N/a,35.7,1477678,1477678
868,David McKinley,(R),WV,District 01,Incumbent,Winner,69.0,1092609,1085864
869,Natalie Ms. Cline,(D),WV,District 01,N/a,N/a,31.0,81032,81881
870,Alex Mooney,(R),WV,District 02,Incumbent,Winner,63.1,2155978,864001
871,Catherine Kunkel,(D),WV,District 02,N/a,N/a,36.9,641567,641567
872,Carol Miller,(R),WV,District 03,Incumbent,Winner,71.3,869210,720796
873,Hilary Turner,(D),WV,District 03,N/a,N/a,28.7,99214,98769
874,Belinda Fox-Spencer,(I),WV,District 03,N/a,N/a,0.0,5207,5207
875,Bryan Steil,(R),WI,District 01,Incumbent,Winner,59.4,3500849,3151701
876,Roger Polack,(D),WI,District 01,N/a,N/a,40.7,536228,526431
877,Mark Pocan,(D),WI,District 02,Incumbent,Winner,69.7,1290582,1014628
878,Peter Theron,(R),WI,District 02,N/a,N/a,30.3,35753,33977
879,Ron Kind,(D),WI,District 03,Incumbent,Winner,51.4,2989262,4435403
880,Derrick Van Orden,(R),WI,District 03,N/a,N/a,48.6,1962443,1948639
881,Gwen Moore,(D),WI,District 04,Incumbent,Winner,74.7,1183995,1166739
882,Scott Fitzgerald,(R),WI,District 05,N/a,Winner,60.2,1155721,968406
883,Tom Palzewicz,(D),WI,District 05,N/a,N/a,39.9,370392,371799
884,Glenn S Grothman,(R),WI,District 06,Incumbent,Winner,59.3,1815756,1736659
885,Jessica King,(D),WI,District 06,N/a,N/a,40.7,287753,245788
886,Tom Tiffany,(R),WI,District 07,Incumbent,Winner,60.8,2637459,2514740
887,Tricia Zunker,(D),WI,District 07,N/a,N/a,39.2,1261957,1232690
888,Mike Gallagher,(R),WI,District 08,Incumbent,Winner,64.0,3202905,2841801
889,Amanda Stuck,(D),WI,District 08,N/a,N/a,36.0,416978,399916
890,Liz Cheney,(R),WY,District 01,Incumbent,Winner,68.6,3003883,3060167
891,Lynnette Grey Bull,(D),WY,District 01,N/a,N/a,24.6,134597,132235

In [82]:
# Create new column with state and district combined (easier for comparison and analysis)
candidates_eda['District Number'] = candidates_eda['District Number'].str.replace('District', '')
candidates_eda['State_District'] = candidates_eda['State'] + candidates_eda['District Number'].str.replace(' ','')
candidates_eda.tail(30)

,Name,Party,State,District Number,Incumbent Status,Winner Status,Percentage of Vote,Total Amount Raised,Total Amount Spent,State_District
862,Kim Schrier,(D),WA,08,Incumbent,Winner,51.7,5422491,3774398,WA08
863,Jesse Jensen,(R),WA,08,N/a,N/a,48.1,852396,842269,WA08
864,Adam Smith,(D),WA,09,Incumbent,Winner,74.2,1324761,930710,WA09
865,Doug Basler,(R),WA,09,N/a,N/a,25.7,22536,18328,WA09
866,Marilyn Strickland,(D),WA,10,N/a,Winner,49.6,1812659,1780633,WA10
867,Beth Doglio,(D),WA,10,N/a,N/a,35.7,1477678,1477678,WA10
868,David McKinley,(R),WV,01,Incumbent,Winner,69.0,1092609,1085864,WV01
869,Natalie Ms. Cline,(D),WV,01,N/a,N/a,31.0,81032,81881,WV01
870,Alex Mooney,(R),WV,02,Incumbent,Winner,63.1,2155978,864001,WV02
871,Catherine Kunkel,(D),WV,02,N/a,N/a,36.9,641567,641567,WV02
872,Carol Miller,(R),WV,03,Incumbent,Winner,71.3,869210,720796,WV03
873,Hilary Turner,(D),WV,03,N/a,N/a,28.7,99214,98769,WV03
874,Belinda Fox-Spencer,(I),WV,03,N/a,N/a,0.0,5207,5207,WV03
875,Bryan Steil,(R),WI,01,Incumbent,Winner,59.4,3500849,3151701,WI01
876,Roger Polack,(D),WI,01,N/a,N/a,40.7,536228,526431,WI01
877,Mark Pocan,(D),WI,02,Incumbent,Winner,69.7,1290582,1014628,WI02
878,Peter Theron,(R),WI,02,N/a,N/a,30.3,35753,33977,WI02
879,Ron Kind,(D),WI,03,Incumbent,Winner,51.4,2989262,4435403,WI03
880,Derrick Van Orden,(R),WI,03,N/a,N/a,48.6,1962443,1948639,WI03
881,Gwen Moore,(D),WI,04,Incumbent,Winner,74.7,1183995,1166739,WI04
882,Scott Fitzgerald,(R),WI,05,N/a,Winner,60.2,1155721,968406,WI05
883,Tom Palzewicz,(D),WI,05,N/a,N/a,39.9,370392,371799,WI05
884,Glenn S Grothman,(R),WI,06,Incumbent,Winner,59.3,1815756,1736659,WI06
885,Jessica King,(D),WI,06,N/a,N/a,40.7,287753,245788,WI06
886,Tom Tiffany,(R),WI,07,Incumbent,Winner,60.8,2637459,2514740,WI07
887,Tricia Zunker,(D),WI,07,N/a,N/a,39.2,1261957,1232690,WI07
888,Mike Gallagher,(R),WI,08,Incumbent,Winner,64.0,3202905,2841801,WI08
889,Amanda Stuck,(D),WI,08,N/a,N/a,36.0,416978,399916,WI08
890,Liz Cheney,(R),WY,01,Incumbent,Winner,68.6,3003883,3060167,WY01
891,Lynnette Grey Bull,(D),WY,01,N/a,N/a,24.6,134597,132235,WY01

In [49]:
candidates_eda['Winner Status'].str.count("Winner").sum()

431

In [135]:
# Pivot table comparing winners and money raised, dropna() filters out those uncontested
raised_pivot = (
    candidates_eda
    .pivot_table(
        values = 'Total Amount Raised',
        index = 'State_District',
        columns = 'Winner Status'
    )
    .dropna()
)
raised_pivot

Winner Status         N/a     Winner
State_District
AK01            5178452.0  1922901.0
AL01              80095.0  1971321.0
AL02              56050.0   650807.0
AL03              50273.0  1193111.0
AR02            3482463.0  3384490.0
...                   ...        ...
WI08             416978.0  3202905.0
WV01              81032.0  1092609.0
WV02             641567.0  2155978.0
WV03              52210.5   869210.0
WY01             134597.0  3003883.0

[371 rows x 2 columns]

In [136]:
# Creates new column and fills with money raised if winner raised more, else returns NaN
raised_pivot['Raised_More'] = raised_pivot.apply(lambda x: x['Winner'] if x['Winner'] >
                     x['N/a'] else np.nan, axis=1)
raised_pivot

Winner Status         N/a     Winner  Raised_More
State_District
AK01            5178452.0  1922901.0          NaN
AL01              80095.0  1971321.0    1971321.0
AL02              56050.0   650807.0     650807.0
AL03              50273.0  1193111.0    1193111.0
AR02            3482463.0  3384490.0          NaN
...                   ...        ...          ...
WI08             416978.0  3202905.0    3202905.0
WV01              81032.0  1092609.0    1092609.0
WV02             641567.0  2155978.0    2155978.0
WV03              52210.5   869210.0     869210.0
WY01             134597.0  3003883.0    3003883.0

[371 rows x 3 columns]

In [127]:
raised_pivot['Raised_More'].value_counts()

1971321.0    1
1090395.0    1
791888.0     1
1866123.0    1
1580952.0    1
            ..
5582179.0    1
822846.0     1
2802093.0    1
541435.0     1
3003883.0    1
Name: Raised_More, Length: 332, dtype: int64

In [128]:
raised_pivot.notna().sum()

Winner Status
N/a            371
Winner         371
Raised_More    332
dtype: int64

In [104]:
332/371

0.894878706199461

In [137]:
# Follow same procedure for money spent
spent_pivot = (
    candidates_eda
    .pivot_table(
        values = 'Total Amount Spent',
        index = 'State_District',
        columns = 'Winner Status'
    )
    .dropna()
)
spent_pivot

Winner Status         N/a     Winner
State_District
AK01            5088103.0  1790448.0
AL01              78973.0  1859349.0
AL02              55988.0   669368.0
AL03              40971.0  1218564.0
AR02            3478733.0  3020491.0
...                   ...        ...
WI08             399916.0  2841801.0
WV01              81881.0  1085864.0
WV02             641567.0   864001.0
WV03              51988.0   720796.0
WY01             132235.0  3060167.0

[371 rows x 2 columns]

In [138]:
spent_pivot['Spent_More'] = spent_pivot.apply(lambda x: x['Winner'] if x['Winner'] >
                     x['N/a'] else np.nan, axis=1)
spent_pivot

Winner Status         N/a     Winner  Spent_More
State_District
AK01            5088103.0  1790448.0         NaN
AL01              78973.0  1859349.0   1859349.0
AL02              55988.0   669368.0    669368.0
AL03              40971.0  1218564.0   1218564.0
AR02            3478733.0  3020491.0         NaN
...                   ...        ...         ...
WI08             399916.0  2841801.0   2841801.0
WV01              81881.0  1085864.0   1085864.0
WV02             641567.0   864001.0    864001.0
WV03              51988.0   720796.0    720796.0
WY01             132235.0  3060167.0   3060167.0

[371 rows x 3 columns]

In [139]:
spent_pivot['Spent_More'].value_counts()

1859349.0    1
979798.0     1
453928.0     1
1853361.0    1
1477090.0    1
            ..
505506.0     1
5313570.0    1
711159.0     1
2699323.0    1
3060167.0    1
Name: Spent_More, Length: 330, dtype: int64

In [132]:
spent_pivot.notna().sum()

Winner Status
N/a           371
Winner        371
Spent_More    330
dtype: int64

In [133]:
330/371

0.889487870619946

In [134]:
candidates_eda.to_csv('candidates_eda.csv')

In [147]:
incumbent_counts = candidates_eda.groupby(['Incumbent Status', 'Winner Status']).size()
incumbent_counts

Incumbent Status  Winner Status
Incumbent         N/a               15
                  Winner           371
N/a               N/a              446
                  Winner            60
dtype: int64

In [150]:
candidates_eda.columns = ['Name', 'Party', 'State', 'District_Number', 'Incumbent_Status', 'Winner_Status', 'Vote_Percentage', 'total_raised', 'total_spent', 'State_District']
candidates_eda

,Name,Party,State,District_Number,Incumbent_Status,Winner_Status,Vote_Percentage,total_raised,total_spent,State_District
0,Jerry Carl,(R),AL,01,N/a,Winner,64.9,1971321,1859349,AL01
1,James Averhart,(D),AL,01,N/a,N/a,35.0,80095,78973,AL01
2,Barry Moore,(R),AL,02,N/a,Winner,65.3,650807,669368,AL02
3,Phyllis Harvey-Hall,(D),AL,02,N/a,N/a,34.6,56050,55988,AL02
4,Mike D Rogers,(R),AL,03,Incumbent,Winner,67.5,1193111,1218564,AL03
...,...,...,...,...,...,...,...,...,...,...
887,Tricia Zunker,(D),WI,07,N/a,N/a,39.2,1261957,1232690,WI07
888,Mike Gallagher,(R),WI,08,Incumbent,Winner,64.0,3202905,2841801,WI08
889,Amanda Stuck,(D),WI,08,N/a,N/a,36.0,416978,399916,WI08
890,Liz Cheney,(R),WY,01,Incumbent,Winner,68.6,3003883,3060167,WY01
891,Lynnette Grey Bull,(D),WY,01,N/a,N/a,24.6,134597,132235,WY01

In [174]:
tab = pd.crosstab(candidates_eda.Incumbent_Status,candidates_eda.Winner_Status)
tab

Winner_Status     N/a  Winner
Incumbent_Status
Incumbent          15     371
N/a               446      60

In [175]:
tab2 = pd.crosstab(index=candidates_eda.Incumbent_Status, columns=candidates_eda.Winner_Status, normalize='columns')
tab2

Winner_Status          N/a    Winner
Incumbent_Status
Incumbent         0.032538  0.860789
N/a               0.967462  0.139211

In [156]:
pass_both_checks = ((candidates_eda['Incumbent_Status'] == 'N/a') & 
                    (candidates_eda['Winner_Status'] == 'Winner')).sum()
pass_both_checks

60

In [162]:
371/431

0.8607888631090487

In [176]:
inc_pivot = (
    candidates_eda
    .pivot_table(
        values = 'total_raised',
        index = 'State_District',
        columns = 'Incumbent_Status'
    )
    .dropna()
)
inc_pivot

Incumbent_Status  Incumbent        N/a
State_District
AK01              1922901.0  5178452.0
AL03              1193111.0    50273.0
AR02              3384490.0  3482463.0
AR03              1127158.0   355294.0
AR04              1407770.0   109767.0
...                     ...        ...
WI08              3202905.0   416978.0
WV01              1092609.0    81032.0
WV02              2155978.0   641567.0
WV03               869210.0    52210.5
WY01              3003883.0   134597.0

[330 rows x 2 columns]

In [178]:
inc_pivot.describe()

Incumbent_Status     Incumbent           N/a
count             3.300000e+02  3.300000e+02
mean              2.908102e+06  1.012913e+06
std               3.657018e+06  1.699142e+06
min               3.277270e+05 -2.084000e+03
25%               1.096156e+06  4.953750e+04
50%               1.821984e+06  1.719755e+05
75%               3.173557e+06  1.298752e+06
max               2.778064e+07  1.114094e+07

In [179]:
inc_pivot['Incumbent'].sum()

959673613.0

In [180]:
inc_pivot['N/a'].sum()

334261446.0

In [183]:
inc_pivot['Incumbent_Raised'] = inc_pivot.apply(lambda x: x['Incumbent'] if x['Incumbent'] >
                     x['N/a'] else np.nan, axis=1)
del inc_pivot['Incumbent_Spending']
inc_pivot

Incumbent_Status  Incumbent        N/a  Incumbent_Raised
State_District
AK01              1922901.0  5178452.0               NaN
AL03              1193111.0    50273.0         1193111.0
AR02              3384490.0  3482463.0               NaN
AR03              1127158.0   355294.0         1127158.0
AR04              1407770.0   109767.0         1407770.0
...                     ...        ...               ...
WI08              3202905.0   416978.0         3202905.0
WV01              1092609.0    81032.0         1092609.0
WV02              2155978.0   641567.0         2155978.0
WV03               869210.0    52210.5          869210.0
WY01              3003883.0   134597.0         3003883.0

[330 rows x 3 columns]

In [184]:
inc_pivot.notna().sum()

Incumbent_Status
Incumbent           330
N/a                 330
Incumbent_Raised    307
dtype: int64

In [185]:
307/330

0.9303030303030303

In [186]:
question_d = candidates_eda[['State_District', 'Winner_Status', 'Incumbent_Status']]
Winner = question_d['Incumbent_Status'][question_d['Winner_Status'] == 'Winner'].tolist()
incumbent_count = Winner.count('Incumbent')
newbie_count = Winner.count('N/a')
print('The count of Incumbent Winners: ', incumbent_count)
print('The count of Non-Incumbent Winners: ', newbie_count)

The count of Incumbent Winners:  371
The count of Non-Incumbent Winners:  60