4. Using your scraped data, investigates different relationships between candidates and the amount of money they raised. Here are some suggestions to get you started, but feel free to pose you own questions or do additional exploration:

In [124]:
import pandas as pd
import numpy as np 
import re
import matplotlib.pyplot as plt

In [125]:
candidates = pd.read_csv('../webscraping_open_secrets-malted_milk_balls/candidates.csv')

In [126]:
candidates['State-District'] = candidates['State'] + " " + candidates['District Number']
candidates.head()

,Unnamed: 0,Name,Party,State,District Number,Incumbent Status,Winner Status,Percentage of Vote,Total Amount Raised,Total Amount Spent,State-District
0,0,Jerry Carl,(R),Alabama,District 01,N/a,Winner,64.9,1971321,1859349,Alabama District 01
1,1,James Averhart,(D),Alabama,District 01,N/a,N/a,35.0,80095,78973,Alabama District 01
2,2,Barry Moore,(R),Alabama,District 02,N/a,Winner,65.3,650807,669368,Alabama District 02
3,3,Phyllis Harvey-Hall,(D),Alabama,District 02,N/a,N/a,34.6,56050,55988,Alabama District 02
4,4,Mike D Rogers,(R),Alabama,District 03,Incumbent,Winner,67.5,1193111,1218564,Alabama District 03

In [12]:
question_1 = candidates[['State-District', 'Winner Status', 'Total Amount Raised']]
question_1

            State-District Winner Status  Total Amount Raised
0      Alabama District 01        Winner              1971321
1      Alabama District 01           N/a                80095
2      Alabama District 02        Winner               650807
3      Alabama District 02           N/a                56050
4      Alabama District 03        Winner              1193111
..                     ...           ...                  ...
887  Wisconsin District 07           N/a              1261957
888  Wisconsin District 08        Winner              3202905
889  Wisconsin District 08           N/a               416978
890    Wyoming District 01        Winner              3003883
891    Wyoming District 01           N/a               134597

[892 rows x 3 columns]

a. How often does the candidate who raised more money win a race?

In [15]:
raised_pivot = (
    candidates
    .pivot_table(
        values = 'Total Amount Raised',
        index = 'State-District',
        columns = 'Winner Status'
    )
    .dropna()
)
raised_pivot

Winner Status                N/a     Winner
State-District
Alabama District 01      80095.0  1971321.0
Alabama District 02      56050.0   650807.0
Alabama District 03      50273.0  1193111.0
Alaska District 01     5178452.0  1922901.0
Arizona District 01    1675618.0  3381353.0
...                          ...        ...
Wisconsin District 05   370392.0  1155721.0
Wisconsin District 06   287753.0  1815756.0
Wisconsin District 07  1261957.0  2637459.0
Wisconsin District 08   416978.0  3202905.0
Wyoming District 01     134597.0  3003883.0

[371 rows x 2 columns]

In [16]:
raised_pivot['Raised_More'] = raised_pivot.apply(lambda x: x['Winner'] if x['Winner'] >=
                     x['N/a'] else np.nan, axis=1)
raised_pivot

Winner Status                N/a     Winner  Raised_More
State-District
Alabama District 01      80095.0  1971321.0    1971321.0
Alabama District 02      56050.0   650807.0     650807.0
Alabama District 03      50273.0  1193111.0    1193111.0
Alaska District 01     5178452.0  1922901.0          NaN
Arizona District 01    1675618.0  3381353.0    3381353.0
...                          ...        ...          ...
Wisconsin District 05   370392.0  1155721.0    1155721.0
Wisconsin District 06   287753.0  1815756.0    1815756.0
Wisconsin District 07  1261957.0  2637459.0    2637459.0
Wisconsin District 08   416978.0  3202905.0    3202905.0
Wyoming District 01     134597.0  3003883.0    3003883.0

[371 rows x 3 columns]

In [17]:
raised_pivot['Raised_More'].value_counts()

1971321.0    1
1090395.0    1
791888.0     1
1866123.0    1
1580952.0    1
            ..
544690.0     1
5582179.0    1
822846.0     1
2802093.0    1
3003883.0    1
Name: Raised_More, Length: 332, dtype: int64

In [18]:
raised_pivot.notna().sum()

Winner Status
N/a            371
Winner         371
Raised_More    332
dtype: int64

In [127]:
print('How often did the Winner of the race win more money:', (332/371))

How often did the Winner of the race win more money: 0.894878706199461

b. How often does the candidate who spent more money win a race?

In [128]:
spent_pivot = (
    candidates
    .pivot_table(
        values = 'Total Amount Spent',
        index = 'State-District',
        columns = 'Winner Status'
    )
    .dropna()
)
spent_pivot

Winner Status                N/a     Winner
State-District
Alabama District 01      78973.0  1859349.0
Alabama District 02      55988.0   669368.0
Alabama District 03      40971.0  1218564.0
Alaska District 01     5088103.0  1790448.0
Arizona District 01    1615704.0  3324138.0
...                          ...        ...
Wisconsin District 05   371799.0   968406.0
Wisconsin District 06   245788.0  1736659.0
Wisconsin District 07  1232690.0  2514740.0
Wisconsin District 08   399916.0  2841801.0
Wyoming District 01     132235.0  3060167.0

[371 rows x 2 columns]

In [129]:
spent_pivot['Spent_More'] = spent_pivot.apply(lambda x: x['Winner'] if x['Winner'] >=
                     x['N/a'] else np.nan, axis=1)
spent_pivot

Winner Status                N/a     Winner  Spent_More
State-District
Alabama District 01      78973.0  1859349.0   1859349.0
Alabama District 02      55988.0   669368.0    669368.0
Alabama District 03      40971.0  1218564.0   1218564.0
Alaska District 01     5088103.0  1790448.0         NaN
Arizona District 01    1615704.0  3324138.0   3324138.0
...                          ...        ...         ...
Wisconsin District 05   371799.0   968406.0    968406.0
Wisconsin District 06   245788.0  1736659.0   1736659.0
Wisconsin District 07  1232690.0  2514740.0   2514740.0
Wisconsin District 08   399916.0  2841801.0   2841801.0
Wyoming District 01     132235.0  3060167.0   3060167.0

[371 rows x 3 columns]

In [130]:
spent_pivot['Spent_More'].value_counts()

1859349.0    1
979798.0     1
453928.0     1
1853361.0    1
1477090.0    1
            ..
1514838.0    1
505506.0     1
5313570.0    1
711159.0     1
3060167.0    1
Name: Spent_More, Length: 330, dtype: int64

In [131]:
spent_pivot.notna().sum()

Winner Status
N/a           371
Winner        371
Spent_More    330
dtype: int64

In [132]:
print('How often did the Winner of the race spend more money:', (330/371))

How often did the Winner of the race spend more money: 0.889487870619946

c. Does the difference between either money raised or money spent seem to influence the likelihood of a candidate winning a race?

In both cases, the Winner raised and spent more money than the candidate that lost their race. The percentages were very high that the winner raises and spends more capital.

 d. How often does the incumbent candidate win a race?

In [91]:
question_d = candidates[['State-District', 'Winner Status', 'Incumbent Status']]

Winner = question_d['Incumbent Status'][question_d['Winner Status'] == 'Winner'].tolist()
incumbent_count = Winner.count('Incumbent')
newbie_count = Winner.count('N/a')
print('The count of Incumbent Winners: ', incumbent_count)
print('The count of Non-Incumbent Winners: ', newbie_count)

The count of Incumbent Winners:  371
The count of Non-Incumbent Winners:  60

In [135]:
print('How often was the Winner an Incumbent:', (371/431))

How often was the Winner an Incumbent: 0.8607888631090487

e. Can you detect any relationship between amount of money raised and the incumbent status of a candidate?

In [99]:
incumbent_pivot['Incumbent'].mean()

2908101.8575757574

In [100]:
incumbent_pivot['N/a'].mean()

1012913.4727272728

In [105]:
question_e = candidates[['Total Amount Raised', 'Incumbent Status']]
question_e

     Total Amount Raised Incumbent Status
0                1971321              N/a
1                  80095              N/a
2                 650807              N/a
3                  56050              N/a
4                1193111        Incumbent
..                   ...              ...
887              1261957              N/a
888              3202905        Incumbent
889               416978              N/a
890              3003883        Incumbent
891               134597              N/a

[892 rows x 2 columns]

In [122]:
question_e['Incumbent Status'] = question_e['Incumbent Status'].str.replace('N/a', 'Non-Incumbent')
question_e

C:\Users\Pupnsuds90\AppData\Local\Temp\ipykernel_25728\1027443056.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  question_e['Incumbent Status'] = question_e['Incumbent Status'].str.replace('N/a', 'Non-Incumbent')

     Total Amount Raised Incumbent Status
0                1971321    Non-Incumbent
1                  80095    Non-Incumbent
2                 650807    Non-Incumbent
3                  56050    Non-Incumbent
4                1193111        Incumbent
..                   ...              ...
887              1261957    Non-Incumbent
888              3202905        Incumbent
889               416978    Non-Incumbent
890              3003883        Incumbent
891               134597    Non-Incumbent

[892 rows x 2 columns]

In [123]:
question_e['Incumbent Status']=question_e['Incumbent Status'].astype('category').cat.codes
question_e.corr()

C:\Users\Pupnsuds90\AppData\Local\Temp\ipykernel_25728\3040482347.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  question_e['Incumbent Status']=question_e['Incumbent Status'].astype('category').cat.codes

                     Total Amount Raised  Incumbent Status
Total Amount Raised             1.000000         -0.274661
Incumbent Status               -0.274661          1.000000